# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# tests
*.snap

# IDE
.idea

# build files
dist/
build/

# Db files
data/

# Dependency directory
node_modules

# Misc
package-lock.json